body {
  font-size: .875rem;
  background-image: url("/assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-clip: content-box;
  background-size: cover;

}

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}

/* Custom styles for light mode */
:root[data-bs-theme='light'] {
  --body-bg-color: #fff;
  --body-text-color: #212529;
  --nav-bg-color: #212529;
  --nav-text-color: #fff;
  --sidebar-bg-color: #f8f9fa;
  --sidebar-text-color: #212529;
  --border-color: rgba(0, 0, 0, 0.1);
}

/* Custom styles for dark mode */
:root[data-bs-theme='dark'] {
  --body-bg-color: #212529;
  --body-text-color: #fff;
  --nav-bg-color: #343a40;
  --nav-text-color: #fff;
  --sidebar-bg-color: #212529;
  --sidebar-text-color: #fff;
  --border-color: rgba(255, 255, 255, 0.1);
}



.navbar-dark {
  background-color: var(--nav-bg-color);
}

.navbar-dark .navbar-brand {
  color: var(--nav-text-color);
}

.nav-link {
  color: var(--sidebar-text-color);
}

.bg-dark {
  background-color: var(--sidebar-bg-color);
  border-color: var(--border-color);
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 300px !important;
  min-width: 156px !important;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: rgba(29, 35, 42, .6);

}

@media (max-width: 767.98px) {
  .sidebar {
    background-color: hsl(212, 18%, 14%);
    width: 100%;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;

}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  max-width: 300px !important;
  min-width: 156px !important;
}

.card.bg-dark {
  background-color: rgba(37, 43, 50, .4) !important;
}

.settings {
  background-color: rgba(37, 43, 50, .0) !important;
  border-bottom: none;
  border-top: 0.5px solid;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.card-header.bg-dark {
  background-color: rgba(29, 35, 42, .6) !important;
}

.card-body.bg-dark {
  background-color: rgba(37, 43, 50, .4) !important;
}

.container .container-fluid {
  background-color: rgba(0, 0, 0, 0);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.card-console {
  height: 600px;
}

.console {
  text-justify: auto;
  display: block;
  height: 100%;
  background: rgb(8, 16, 24);
  color: #727272;
  overflow-y: scroll;
  overflow-wrap: break-word !important;

  padding: 5px;
}


tr.odd>td {
  background-color: #252b32 !important;

}

.footer {
  position: sticky;

  bottom: 0px;
}

.folder {
  width: 34px;
  height: 22px;
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
  background-color: #708090;
  border-radius: 0 6px 6px 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.59);
  float: left;
}

.folder:before {
  content: '';
  width: 40%;
  height: 4px;
  border-radius: 0 20px 0 0;
  background-color: #596674;
  position: absolute;
  top: -4px;
  left: 0px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.59);

}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left !important;
}
.text-center{
  text-align: center;
}

.float-right{
  float: right;
}

.dropdown-file-menu{
  border: #181818 solid 1px;
  border-radius: 5px;
  box-shadow: #212529;
}

.modal-dialog {
  max-width: 90%;
  width: 90%;
  
}

.modal-content #editor{
  height: 85vh;
  max-height: 85vh;
  padding: 10px;
}

.float-left{
  float: left !important;
}

.modal-footer{
  display: block !important;
  justify-content: flex-start !important;
}